html {
  background-color: moccasin;
  color: #22223b;
}

header {
  font-family: "Sofia";
 }
 
nav {
  background-color: burlywood;
  padding: 10px;
  width: 900px;
  margin: auto;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  justify-items: center;
}

h2 {
  font-family: "Sofia";
  text-align: center;
}

.container {
  display: grid;
  margin: auto;
  padding: 10px;
  width: 900px;
  height: 900px;
  grid-gap: 5px 0px;
  grid-template-rows: 130px 200px 500px 50px;
  grid-template-columns: 400px 500px;
  justify-items: center;
  justify-content: center;
  align-content: space-between;
}

.title {
  width: 100%;
  grid-area: 1 / 1 / span 1 / span 1;
}

.ingredients {
  width: 100%;
  grid-area: 2 / 1 / span 1 / span 1;
}

img {
  max-width: 400px;
  border: solid;
  grid-area: 1 / 2 / span 2 / span 1;
  align-self: center;
}

.method {
  margin: auto;
  grid-area: 3 / 1 / span 1 / span 2;
}

.method li {
  padding: 5px 0;
}

footer {
  width: 100%;
  text-align: center;
  grid-area: 4 / 1 / span 1 / span 2;
}