html {
  background-color: #feeafa;
  color: #22223b;
}

header {
  font-family: "Sofia";
  text-align: center;
  padding: 2rem;
}

header nav {
  text-align: left;
}

body {
  margin: 10px 10px;
}

h2 {
  font-family: "Sofia";
  width: 100%;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

img {
  max-width: 300px;
  max-height: 300px;
  border: solid;
  margin: 2rem;
}

.method {
  margin: 2rem;
  max-width: 100%;
}

.method li {
  padding: 5px 0;
}

footer {
  padding-left: 20px;
}